{{ define "main" }}
    {{ $style := resources.Get "/scss/project.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <div class="project-container">
        {{ with .Resources.GetMatch "screenshot" }}
            <img src="{{ .RelPermalink }}" alt="{{ .Params.alt }}" />
        {{ end }}
        <h3>{{ .Title }}</h3>
        <span>
            {{ dateFormat "2006" .Date }}

            {{ range .Params.projectUrls}}
                &bull; {{ . | markdownify }}
            {{ end }}
        </span>

        <ul>
        {{ range .Params.list}}
            <li>{{ . }}</li>
        {{ end }}
        </ul>

        {{ .Content }}
    </div>
{{ end }}