{{ define "main" }}
    {{ $style := resources.Get "/scss/project.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <div class="project-container">
        <h1>{{ .Title }}</h1>

        <h2>
            {{ dateFormat "2006" .Date }}

            {{ range .Params.projectUrls}}
            &bull; {{ . | markdownify }}
            {{ end }}
        </h2>

        <div class="hero">
            {{ with .Resources.GetMatch "screenshot" }}
                {{ $image := .Resize "1000x" }}
                <img src="{{ $image.RelPermalink }}" alt="{{ .Params.alt }}" />
            {{ end }}
            <ul>
                {{ range .Params.list}}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        </div>

        {{ .Content }}
    </div>
{{ end }}