footer {
    width: 100%;
    padding: $standard-spacing;

    display: flex;
    align-items: center;
    justify-content: center;

    color: color("dark-background-text");
    background-color: color("dark-background");

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-items {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
}