@mixin logo-size-mixin() {
    font-size: 4vw;

    @media only screen and (max-width: $mobile-width) {
        font-size: 2.5rem;
    }
}

@mixin nav-item-size-mixin() {
    font-size: 3vw;

    @media only screen and (max-width: $mobile-width) {
        font-size: 2rem;
    }
}

$nav-margin: 2vw;
$transition-time: 200ms;

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding-top: 1rem;
    margin-bottom: 1rem;
    background-color: color('background');

    font-family: monospace;

    transition: box-shadow 1s;

    @media only screen and (max-width: $mobile-width) {
        flex-direction: column;

        position: absolute;
        top: 0.5rem;

        &.open {
            transition: box-shadow $transition-time;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        }
    }
}

.header-inner {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $mobile-width) {
        flex-direction: column
    }
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-button {
        display: none;
    }

    @media only screen and (max-width: $mobile-width) {
        margin-bottom: 1rem;

        .menu-button {
            @include logo-size-mixin;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: stretch;

            margin-left: 1rem;
            padding: 0 1rem;
            background-color: color('primary');

            user-select: none;
            cursor: pointer;
        }
    }
}

.menu-icon {
    width: 1.5rem;

    &:after,
    &:before,
    & div {
        background-color: #222;
        border-radius: 3px;
        content: '';
        display: block;
        height: 3px;
        margin: 7px 0;
        transition: all .2s ease-in-out;
    }

    &.open:before {
        transform: translateY(10px) rotate(135deg);
    }

    &.open:after {
        transform: translateY(-10px) rotate(-135deg);
    }

    &.open div {
        transform: scale(0);
    }
}

.logo-text {
    @include logo-size-mixin;

    position: relative;

    font-weight: bold;
    line-height: 1;
    text-align: right;
    margin: 0;

    transition: color $transition-time;

    a {
        color: color("black");
        text-decoration: none;
    }

    &:hover span {
        color: color("white");
        transition: color $transition-time;
    }

    span {
        display: block;
        padding: 0.5rem 1.5rem;
        background-color: color("primary");

        &.first {
            position: absolute;
            z-index: 10;
            right: 0;
            padding-bottom: 0;
        }
    }
}

nav {
    @include nav-item-size-mixin;

    display: flex;
    justify-content: space-between;
    margin-left: $nav-margin;

    font-weight: bold;
    background-color: color('background');

    transition: max-height 500ms;

    a {
        background-color: color("primary");
        line-height: 1;
        padding: 0.5rem 1.5rem;
        color: color("black");
        text-decoration: none;

        transition: color $transition-time;

        & + a {
            margin-left: $nav-margin;
        }

        &:hover {
            color: color("white");
            transition: color $transition-time;
        }
    }


    @media only screen and (max-width: $mobile-width) {
        max-height: 0;
        overflow: hidden;
        width: 100%;

        &.open {
            max-height: 500px;
            transition: max-height 500ms;
        }

        flex-direction: column;
        text-align: right;
        margin: 0;

        a {
            margin-left: 0rem !important;
            margin-bottom: 1rem;
        }
    }
}