@mixin header-size-mixin() {
    font-size: 4vw;

    @media (max-width: $mobile-width) {
        font-size: 7vw
    }

    @media (min-width: 1600px) {
        font-size: 65px;
    }
}

@mixin subheader-size-mixin() {
    font-size: 1.5vw;

    @media (max-width: $mobile-width) {
        font-size: 3vw;
    }

    @media (min-width: 1600px) {
        font-size: 24px;
    }
}

@mixin subheader2-size-mixin() {
    font-size: 2vw;

    @media (max-width: $mobile-width) {
        font-size: 4vw;
    }

    @media (min-width: 1600px) {
        font-size: 30px;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: linear-gradient(158deg, rgba(84, 84, 84, 0.05) 0%, rgba(84, 84, 84, 0.05) 20%,rgba(219, 219, 219, 0.05) 20%, rgba(219, 219, 219, 0.05) 40%,rgba(54, 54, 54, 0.05) 40%, rgba(54, 54, 54, 0.05) 60%,rgba(99, 99, 99, 0.05) 60%, rgba(99, 99, 99, 0.05) 80%,rgba(92, 92, 92, 0.05) 80%, rgba(92, 92, 92, 0.05) 100%),linear-gradient(45deg, rgba(221, 221, 221, 0.03) 0%, rgba(221, 221, 221, 0.03) 14.286%,rgba(8, 8, 8, 0.03) 14.286%, rgba(8, 8, 8, 0.03) 28.572%,rgba(52, 52, 52, 0.03) 28.572%, rgba(52, 52, 52, 0.03) 42.858%,rgba(234, 234, 234, 0.03) 42.858%, rgba(234, 234, 234, 0.03) 57.144%,rgba(81, 81, 81, 0.03) 57.144%, rgba(81, 81, 81, 0.03) 71.42999999999999%,rgba(239, 239, 239, 0.03) 71.43%, rgba(239, 239, 239, 0.03) 85.71600000000001%,rgba(187, 187, 187, 0.03) 85.716%, rgba(187, 187, 187, 0.03) 100.002%),linear-gradient(109deg, rgba(33, 33, 33, 0.05) 0%, rgba(33, 33, 33, 0.05) 12.5%,rgba(147, 147, 147, 0.05) 12.5%, rgba(147, 147, 147, 0.05) 25%,rgba(131, 131, 131, 0.05) 25%, rgba(131, 131, 131, 0.05) 37.5%,rgba(151, 151, 151, 0.05) 37.5%, rgba(151, 151, 151, 0.05) 50%,rgba(211, 211, 211, 0.05) 50%, rgba(211, 211, 211, 0.05) 62.5%,rgba(39, 39, 39, 0.05) 62.5%, rgba(39, 39, 39, 0.05) 75%,rgba(55, 55, 55, 0.05) 75%, rgba(55, 55, 55, 0.05) 87.5%,rgba(82, 82, 82, 0.05) 87.5%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(348deg, rgba(42, 42, 42, 0.03) 0%, rgba(42, 42, 42, 0.03) 20%,rgba(8, 8, 8, 0.03) 20%, rgba(8, 8, 8, 0.03) 40%,rgba(242, 242, 242, 0.03) 40%, rgba(242, 242, 242, 0.03) 60%,rgba(42, 42, 42, 0.03) 60%, rgba(42, 42, 42, 0.03) 80%,rgba(80, 80, 80, 0.03) 80%, rgba(80, 80, 80, 0.03) 100%),linear-gradient(120deg, rgba(106, 106, 106, 0.05) 0%, rgba(106, 106, 106, 0.05) 14.286%,rgba(67, 67, 67, 0.05) 14.286%, rgba(67, 67, 67, 0.05) 28.572%,rgba(134, 134, 134, 0.05) 28.572%, rgba(134, 134, 134, 0.05) 42.858%,rgba(19, 19, 19, 0.05) 42.858%, rgba(19, 19, 19, 0.05) 57.144%,rgba(101, 101, 101, 0.05) 57.144%, rgba(101, 101, 101, 0.05) 71.42999999999999%,rgba(205, 205, 205, 0.05) 71.43%, rgba(205, 205, 205, 0.05) 85.71600000000001%,rgba(53, 53, 53, 0.05) 85.716%, rgba(53, 53, 53, 0.05) 100.002%),linear-gradient(45deg, rgba(214, 214, 214, 0.05) 0%, rgba(214, 214, 214, 0.05) 16.667%,rgba(255, 255, 255, 0.05) 16.667%, rgba(255, 255, 255, 0.05) 33.334%,rgba(250, 250, 250, 0.05) 33.334%, rgba(250, 250, 250, 0.05) 50.001000000000005%,rgba(231, 231, 231, 0.05) 50.001%, rgba(231, 231, 231, 0.05) 66.668%,rgba(241, 241, 241, 0.05) 66.668%, rgba(241, 241, 241, 0.05) 83.33500000000001%,rgba(31, 31, 31, 0.05) 83.335%, rgba(31, 31, 31, 0.05) 100.002%),linear-gradient(59deg, rgba(224, 224, 224, 0.05) 0%, rgba(224, 224, 224, 0.05) 12.5%,rgba(97, 97, 97, 0.05) 12.5%, rgba(97, 97, 97, 0.05) 25%,rgba(143, 143, 143, 0.05) 25%, rgba(143, 143, 143, 0.05) 37.5%,rgba(110, 110, 110, 0.05) 37.5%, rgba(110, 110, 110, 0.05) 50%,rgba(34, 34, 34, 0.05) 50%, rgba(34, 34, 34, 0.05) 62.5%,rgba(155, 155, 155, 0.05) 62.5%, rgba(155, 155, 155, 0.05) 75%,rgba(249, 249, 249, 0.05) 75%, rgba(249, 249, 249, 0.05) 87.5%,rgba(179, 179, 179, 0.05) 87.5%, rgba(179, 179, 179, 0.05) 100%),linear-gradient(241deg, rgba(58, 58, 58, 0.03) 0%, rgba(58, 58, 58, 0.03) 25%,rgba(124, 124, 124, 0.03) 25%, rgba(124, 124, 124, 0.03) 50%,rgba(254, 254, 254, 0.03) 50%, rgba(254, 254, 254, 0.03) 75%,rgba(52, 52, 52, 0.03) 75%, rgba(52, 52, 52, 0.03) 100%),linear-gradient(90deg, #FFF,#FFF);

    @media (max-width: $mobile-width) {
        align-items: flex-start;
    }
}

.introduction {

    h1 {
        color: color('primary');
        margin: 0;
        font-weight: initial;
        @include header-size-mixin;

        strong {
            color: color('accent');
            // text-shadow: 2px 2px 3px color('accent');
        }
    }

    p {
        font-family: $header-font-family;
        @include subheader-size-mixin;
        color: color('primary');
    }


}

.image {
    width: 100%;

    img { width: 100%; }
}

.images {
    list-style-type: none;
    margin-top: 2rem;
    width: 100%;
    padding: 0;

    li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    img {
        width: 5vw;
        height: auto;

        @media (max-width: $mobile-width) {
            width: 15vw;
            margin-right: 1rem;
        }

        margin-right: 2rem;
    }

    h3 {
        color: color('dark-primary');
        font-family: $header-font-family;
        @include subheader-size-mixin;
    }

    a {
        @include subheader2-size-mixin;
        letter-spacing: -2px;
        position: relative;
        text-decoration: none;
    }

    // span:hover {
    //     color: color('accent');
    //     text-decoration-color: rgba(color('accent'), .20);
    // }

    li.bhtp a {
        color: #364f78;

        &::before {
            content: '';
            background-color: rgba(#364f78, .20);
            position: absolute;
            top: 50%;
            left: -1%;
            right: -1%;
            bottom: 0;

            transition: top 200ms;
        }



        &:hover::before {
            top: 0;
            transition: top 200ms;
        }
    }

    li.cenwidev a {
        color: #7561a9;
        text-decoration-color: rgba(#7561a9, .20);

        &::before {
            content: '';
            background-color: rgba(#7561a9, .20);
            position: absolute;
            top: 50%;
            left: -1%;
            right: -1%;
            bottom: 0;

            transition: top 200ms;
        }



        &:hover::before {
            top: 0;
            transition: top 200ms;
        }
    }

    li.cwitc a {
        color: #ec2f4b;
        text-decoration-color: rgba(#ec2f4b, .20);

        &::before {
            content: '';
            background-color: rgba(#ec2f4b, .20);
            position: absolute;
            top: 50%;
            left: -1%;
            right: -1%;
            bottom: 0;

            transition: top 200ms;
        }

        &:hover::before {
            top: 0;
            transition: top 200ms;
        }
    }
}