@mixin header-size-mixin() {
    font-size: 4vw;

    @media (max-width: $mobile-width) {
        font-size: 6vw;
    }
}

@mixin subheader-size-mixin() {
    font-size: 2vw;
    line-height: 2.5vw;

    @media (max-width: $mobile-width) {
        font-size: 3vw;
        line-height: 4vw;
    }
}

.content-container {
    display: flex;
    align-items: center;

    background: linear-gradient(158deg, rgba(84, 84, 84, 0.05) 0%, rgba(84, 84, 84, 0.05) 20%,rgba(219, 219, 219, 0.05) 20%, rgba(219, 219, 219, 0.05) 40%,rgba(54, 54, 54, 0.05) 40%, rgba(54, 54, 54, 0.05) 60%,rgba(99, 99, 99, 0.05) 60%, rgba(99, 99, 99, 0.05) 80%,rgba(92, 92, 92, 0.05) 80%, rgba(92, 92, 92, 0.05) 100%),linear-gradient(45deg, rgba(221, 221, 221, 0.03) 0%, rgba(221, 221, 221, 0.03) 14.286%,rgba(8, 8, 8, 0.03) 14.286%, rgba(8, 8, 8, 0.03) 28.572%,rgba(52, 52, 52, 0.03) 28.572%, rgba(52, 52, 52, 0.03) 42.858%,rgba(234, 234, 234, 0.03) 42.858%, rgba(234, 234, 234, 0.03) 57.144%,rgba(81, 81, 81, 0.03) 57.144%, rgba(81, 81, 81, 0.03) 71.42999999999999%,rgba(239, 239, 239, 0.03) 71.43%, rgba(239, 239, 239, 0.03) 85.71600000000001%,rgba(187, 187, 187, 0.03) 85.716%, rgba(187, 187, 187, 0.03) 100.002%),linear-gradient(109deg, rgba(33, 33, 33, 0.05) 0%, rgba(33, 33, 33, 0.05) 12.5%,rgba(147, 147, 147, 0.05) 12.5%, rgba(147, 147, 147, 0.05) 25%,rgba(131, 131, 131, 0.05) 25%, rgba(131, 131, 131, 0.05) 37.5%,rgba(151, 151, 151, 0.05) 37.5%, rgba(151, 151, 151, 0.05) 50%,rgba(211, 211, 211, 0.05) 50%, rgba(211, 211, 211, 0.05) 62.5%,rgba(39, 39, 39, 0.05) 62.5%, rgba(39, 39, 39, 0.05) 75%,rgba(55, 55, 55, 0.05) 75%, rgba(55, 55, 55, 0.05) 87.5%,rgba(82, 82, 82, 0.05) 87.5%, rgba(82, 82, 82, 0.05) 100%),linear-gradient(348deg, rgba(42, 42, 42, 0.03) 0%, rgba(42, 42, 42, 0.03) 20%,rgba(8, 8, 8, 0.03) 20%, rgba(8, 8, 8, 0.03) 40%,rgba(242, 242, 242, 0.03) 40%, rgba(242, 242, 242, 0.03) 60%,rgba(42, 42, 42, 0.03) 60%, rgba(42, 42, 42, 0.03) 80%,rgba(80, 80, 80, 0.03) 80%, rgba(80, 80, 80, 0.03) 100%),linear-gradient(120deg, rgba(106, 106, 106, 0.05) 0%, rgba(106, 106, 106, 0.05) 14.286%,rgba(67, 67, 67, 0.05) 14.286%, rgba(67, 67, 67, 0.05) 28.572%,rgba(134, 134, 134, 0.05) 28.572%, rgba(134, 134, 134, 0.05) 42.858%,rgba(19, 19, 19, 0.05) 42.858%, rgba(19, 19, 19, 0.05) 57.144%,rgba(101, 101, 101, 0.05) 57.144%, rgba(101, 101, 101, 0.05) 71.42999999999999%,rgba(205, 205, 205, 0.05) 71.43%, rgba(205, 205, 205, 0.05) 85.71600000000001%,rgba(53, 53, 53, 0.05) 85.716%, rgba(53, 53, 53, 0.05) 100.002%),linear-gradient(45deg, rgba(214, 214, 214, 0.05) 0%, rgba(214, 214, 214, 0.05) 16.667%,rgba(255, 255, 255, 0.05) 16.667%, rgba(255, 255, 255, 0.05) 33.334%,rgba(250, 250, 250, 0.05) 33.334%, rgba(250, 250, 250, 0.05) 50.001000000000005%,rgba(231, 231, 231, 0.05) 50.001%, rgba(231, 231, 231, 0.05) 66.668%,rgba(241, 241, 241, 0.05) 66.668%, rgba(241, 241, 241, 0.05) 83.33500000000001%,rgba(31, 31, 31, 0.05) 83.335%, rgba(31, 31, 31, 0.05) 100.002%),linear-gradient(59deg, rgba(224, 224, 224, 0.05) 0%, rgba(224, 224, 224, 0.05) 12.5%,rgba(97, 97, 97, 0.05) 12.5%, rgba(97, 97, 97, 0.05) 25%,rgba(143, 143, 143, 0.05) 25%, rgba(143, 143, 143, 0.05) 37.5%,rgba(110, 110, 110, 0.05) 37.5%, rgba(110, 110, 110, 0.05) 50%,rgba(34, 34, 34, 0.05) 50%, rgba(34, 34, 34, 0.05) 62.5%,rgba(155, 155, 155, 0.05) 62.5%, rgba(155, 155, 155, 0.05) 75%,rgba(249, 249, 249, 0.05) 75%, rgba(249, 249, 249, 0.05) 87.5%,rgba(179, 179, 179, 0.05) 87.5%, rgba(179, 179, 179, 0.05) 100%),linear-gradient(241deg, rgba(58, 58, 58, 0.03) 0%, rgba(58, 58, 58, 0.03) 25%,rgba(124, 124, 124, 0.03) 25%, rgba(124, 124, 124, 0.03) 50%,rgba(254, 254, 254, 0.03) 50%, rgba(254, 254, 254, 0.03) 75%,rgba(52, 52, 52, 0.03) 75%, rgba(52, 52, 52, 0.03) 100%),linear-gradient(90deg, #FFF,#FFF);

    @media (max-width: $mobile-width) {
        align-items: flex-start;
    }
}

.introduction {

    h1 {
        color: color('primary');
        margin: 0;
        font-weight: initial;
        @include header-size-mixin;

        strong {
            color: color('accent');
            // text-shadow: 2px 2px 3px color('accent');
        }
    }

    p {
        font-family: $header-font-family;
        @include subheader-size-mixin;
        color: color('primary');
    }


}
a {
    color: color('accent');
    // text-shadow: 2px 2px 3px color('accent');
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: auto;
        text-underline-offset: -0.25rem;
        text-decoration-thickness: 0.5rem;
        text-decoration-skip-ink: none;
        text-decoration-color: rgba(color('accent'), 0.25);
    }
}

.image {
    width: 100%;

    img { width: 100%; }
}

.images {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    width: 100%;

    // background-color: rgba(red, 0.25);

    height: 70px;

    h3 {
        transition: width 1s, flex-grow 1s, padding 1s;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        flex-grow: 0;

        font-family: $header-font-family;

        padding: 0;

        // background-color: rgba(green, 0.25);
    }

    span {color: color('accent');}

    img {
        width: 10%;
        filter: grayscale(1);
        transition: filter 1s;

        // background-color: rgba(blue, 0.25);

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &.active {
            filter: grayscale(0);
            transition: filter 1s;
        }
    }

    h3.active {
        transition: width 1s, flex-grow 1s, padding 1s;
        //width: 70%;
        flex-grow: 1;
        max-width: 100%;


        padding: 0 1rem;
    }
}