@mixin nav-item-font-size-mixin() {
    font-size: 2vw;

    @media (max-width: $mobile-width) {
        font-size: 2rem;
    }

    @media (min-width: 1600px) {
        font-size: 40px;
    }
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-grow: 1;
    margin: 0 auto;

    width: 80%;

    transition: max-height 500ms, margin 500ms;

    @media (max-width: $mobile-width) {
        flex-direction: column;
        text-align: center;

        max-height: 0;
        width: 100%;
        overflow: hidden;
        margin: 0;

        &.open {
            margin-bottom: $standard-spacing;
            max-height: 500px;
            transition: max-height 500ms, margin 500ms;
        }
    }

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: $tight-spacing 0;
        position: relative;
    }

    a {
        @include nav-item-font-size-mixin();

        line-height: 1;
        text-decoration: none;
        color: color("white");

        transition: color $transition-time;

        &:hover {
            color: color("dark-background");
            transition: color $transition-time;
        }
    }
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin: auto 0 2rem;
    width: 80%;

    @media (max-width: $mobile-width) {
        margin: 2rem 0 0;
    }

    svg {
        height: 2rem;
        width: 2rem;
        fill: color('white');

        &:hover{
            fill: color('dark-background');
        }
    }
}