$colors: (
    'primary': #2d3748,
    'dark-primary': darken(#2d3748, 10%),
    'accent': #fe7342,
    'secondary': #008BFF,
    'white': #FFFFFF,
    'black': #222,
    'background': #F5F5F5,
    'dark-background': darken(#F5F5F5, 20%),
    'dark-background-text': darken(#F5F5F5, 60%)
);

@function color($key: 'primary') {
    @return map-get($colors, $key);
}

$mobile-width: 800px;

$standard-spacing: 2rem;
$tight-spacing: 1rem;

$header-font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;