@import "./_variables";

.blog-post-summary-container {
    margin-bottom: $standard-spacing;

    a {
        text-decoration: none;
        color: color("accent");
        display: inline-block;

        transition: background-color 200ms;

        &:hover {
            transition: background-color 200ms;
            background-color: rgba(color("accent"), 0.20);
        }

        &.read-more {
            font-family: $header-font-family;
        }
    }

    h2 {
        font-size: 2rem;
        text-transform: lowercase;
        color: color("accent");
        font-family: $header-font-family;
        letter-spacing: -1px;
        margin: 0;
    }

    h3 {
        text-transform: lowercase;
        color: color('primary');
        margin: 0;
    }

    p {
        margin: 0;

        &.summary {
            margin-top: $tight-spacing;
            max-width: $article-max-width;
        }
    }

    span {
        font-size: 0.8rem;
        color: color("primary");
        text-transform: lowercase;
    }
}