@import "./_variables";

.blog-post-container {

    h1 {
        font-size: 3rem;
        text-transform: lowercase;
        color: color('accent');
        margin: 0;

        @media (max-width: $mobile-width) {
            font-size: 2rem;
        }
    }

    h3 {
        margin: 0 0 $tight-spacing;
    }

    .date {
        text-transform: lowercase;
    }

    p {
        margin: $tight-spacing 0;
    }

    .body {
        max-width: $article-max-width;
    }

    li {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }

    code {
        background-color: color('dark-background');
        padding: 0.25rem
    }

    a {
        color: color('accent');
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}