@import "./_variables";

.blog-post-container {

    h1 {
        text-transform: lowercase;
        color: color('accent');
        margin: 0 0 $tight-spacing;
    }

    .date {
        text-transform: lowercase;
    }

    p {
        margin: $tight-spacing 0;
    }

    .body {
        max-width: $article-max-width;
    }

    li {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }
}