@import "../../modules/normalize-scss/sass/normalize/import-now";

@import "./_variables";

// Layouts
@import "./index";

// Partials
@import "./_header";
@import "./_footer";
@import "./_blog-post";
@import "./_blog-post-summary";
@import "./_project";
@import "./_project-summary";

// ShortCodes
@import "./shortcodes/colored-text";

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-family: sans-serif;
}

body {
    $top-border: 10px;

    margin: 0;
    padding: 0;
    background-color: color('background');
    border-top: $top-border solid color('primary');
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        max-width: $site-width;
        width: calc(100% - #{ $standard-spacing * 2 });
        margin: 0 $standard-spacing;
        flex: 1;

        @media (max-width: $mobile-width) {
            margin-top: 7rem;
        }

        .narrow {

            @media (min-width: $mobile-width - 1) {
                width: 75%;
            }
        }
    }
}

h1 {
    font-family: monospace;
}

p {
    font-size: 1rem;
    line-height: 1.75rem;
}

.page-title {
    border-bottom: 3px solid color("primary");
}