@import "../../modules/normalize-scss/sass/normalize/import-now";

@import "./_variables";

// Partials
@import "./_header";
@import "./_nav";
@import "./_project";
@import "./_project-summary";

// ShortCodes
@import "./shortcodes/colored-text";

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: color('background');
    min-height: 100vh;

    .main-container {
        margin-left: $sidebar-width;
        padding: 4rem 10vw;
        min-height: 100vh;

        background: $background-pattern;

        @media only screen and (max-width: $mobile-width) {
            margin: 5rem 0 0;
            padding: 5rem 5vw;
        }
    }
}

h1 {
    font-family: $header-font-family;

    &.page-title {
        text-transform: lowercase;
        color: color('primary');
    }
}

p {
    font-size: 1.25rem;
    line-height: 2rem;
}

svg.symbol { display: none; }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
         url("/fonts/Inter-Regular.woff") format("woff");
}