<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="software developer working on front-end web and cross-platform mobile development" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ lower .Page.Title }} - {{ .Site.Title }}</title>
    {{ $style := resources.Get "/scss/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
    {{ partialCached "header" . }}

    <div class="main-container">
    {{ block "main" . }}{{ end }}
    </div>
</body>
</html>