<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Page.Params.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Page.Title }}">
    <meta property="og:description" content="{{ .Page.Params.description }}">
    <meta property="og:image" content="{{ print .Site.BaseURL "images/josh.jpg" }}">
    <meta property="og:url" content="{{ .Page.Permalink }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshin_my_tots">
    <meta name="twitter:image:alt" content="Portrait of Josh Evenson">

    <link rel="canonical" href="{{ .Page.Permalink }}" />

    {{ if eq .Page.RelPermalink "/"}}
        <title>{{ .Site.Title }}</title>
    {{ else }}
        <title>{{ lower .Page.Title }} - {{ .Site.Title }}</title>
    {{ end }}

    {{ $style := resources.Get "/scss/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
    {{ partialCached "header" . }}

    <div class="main-container">
    {{ block "main" . }}{{ end }}
    </div>
</body>
</html>