.blog-post-container {

    h1 {
        margin: $standard-spacing 0 $tight-spacing;
    }

    p {
        margin: $tight-spacing 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
}