header {
    width: 100%;
    color: color('primary');
    padding: $standard-margin 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .site-title {
            flex-grow: 1;
        }

        h1 {
            margin: 0 0 $tight-margin 0;
            color: color('primary');
        }

        @media (min-width: $mobile-width) {
            h1 {
                margin: 0;
            }
        }
    }

    nav {
        width: 50%;
        max-width: 350px;
        display: flex;
        justify-content: space-around;


        a {
            text-decoration: none;
            color: color('text-link');
            font-size: 1.2em;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

