$headerMobileSize: 650px;

header {
    width: 100%;
    color: color('primary');
    background-color: color('primary');
    padding: $tight-margin 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: $headerMobileSize) {
            flex-direction: column;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        order: 1;

        @media (max-width: $headerMobileSize) {
            width: 100%;
        }

        .site-title {
            text-decoration: none;
            font-weight: bold;
            color: color('background');
            font-size: 2.5em;
            margin: 0 0 $tight-margin 0;

            @media (max-width: $headerMobileSize) {
                text-align: center;
                font-size: 2em;
            }
        }

        .nav-items {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            @media (max-width: $headerMobileSize) {
                justify-content: space-around;
            }

            li {
                margin-right: $standard-margin;

                @media (max-width: $headerMobileSize) {
                    margin: 0;
                }

                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: color('background');
                    font-size: 1.3em;

                    @media (max-width: $headerMobileSize) {
                        font-size: 1em;
                    }
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    @mixin portrait-sizing {
        border-radius: 50%;

        height: 150px;
        width: 150px;

        @media (max-width: $headerMobileSize) {
            height: 20vw;
            width: 20vw;
        }
    }

    .portrait-container {
        position: relative;
        order: 2;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: color('primary');
            opacity: 0.1;

            @include portrait-sizing();
        }

        @media (max-width: $headerMobileSize) {
            order: 0;
        }

        .portrait {
            @include portrait-sizing();
        }
    }

}

