
.hero-container {
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    @media (min-width: $mobile-width) {
        flex-direction: row;
    }

    .portrait {
        height: 20vw;
        width: 20vw;

        max-height: 200px;
        max-width: 200px;

        min-height: 100px;
        min-width: 100px;

        border-radius: 50%;
    }

    .tagline {
        text-align: center;
        margin: 0;
    }
}