
.hero-container {
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    @media (min-width: $mobile-width) {
        flex-direction: row;
    }

    .tagline {
        text-align: center;
        margin: 0;
    }
}