$colors: (
    'primary': rgb(227, 108, 10), // #FF7400,
    'secondary': #008BFF,
    'white': #FFFFFF,
    'black': #000,
    'background': #F5F5F5
);

@function color($key: 'primary') {
    @return map-get($colors, $key);
}

$site-width: 800px;
$mobile-width: 700px;

$standard-margin: 25px;
$tight-margin: 10px;