$colors: (
    'primary': rgb(227, 108, 10), // #FF7400,
    'secondary': #008BFF,
    'white': #FFFFFF,
    'black': #000,
    'background': #F5F5F5,
    'dark-background': darken(#F5F5F5, 20%),
    'dark-background-text': darken(#F5F5F5, 60%)

);

@function color($key: 'primary') {
    @return map-get($colors, $key);
}

$site-width: 800px;
$mobile-width: 700px;

$standard-spacing: 1rem;
$tight-spacing: .5rem;