$color-primary: #FF7400;
$color-secondary: #008BFF;
$color-white: #FFFFFF;
$color-background: #F5F5F5;

$color-text-link: #0000FF;

$site-width: 800px;
$mobile-width: 700px;

$standard-margin: 25px;
$tight-margin: 10px;