@import "./_variables";
@import "./_header";

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-background;
    border-top: 10px solid $color-primary;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        width: calc(100% - #{ $standard-margin * 2 });
        max-width: $site-width;
        margin: 0 $standard-margin;
    }
}