@import "./_variables";

// Layouts
@import "./index";

// Partials
@import "./_header";
@import "./_footer";
@import "./_blog-post";
@import "./_blog-post-summary";

// ShortCodes
@import "./shortcodes/colored-text";

* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    height: 100vh;

    @media (max-width: $mobile-width) {
        font-size: 16px;
    }
}

body {
    $top-border: 10px;

    margin: 0;
    padding: 0;
    background-color: color('background');
    border-top: $top-border solid lighten(color('primary'), 20%);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        max-width: $site-width;
        width: calc(100% - #{ $standard-spacing * 2 });
        margin: 0 $standard-spacing;
        flex: 1;

        .main {

            @media (min-width: $mobile-width - 1) {
                width: 75%;
            }
        }
    }
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    text-decoration: none;
    color: color('primary');

    &:visited {
        color: color('primary');
    }

    &:hover {
        text-decoration: underline;
    }
}