@import "./_variables";

// Layouts
@import "./index";

// Partials
@import "./_header";

// ShortCodes
@import "./shortcodes/colored-text";

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: color('background');
    border-top: 10px solid lighten(color('primary'), 20%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        max-width: $site-width;
        width: calc(100% - #{ $standard-margin * 2 });
        margin: 0 $standard-margin;
    }
}

a {
    text-decoration: none;
}

a:visited {
    color: color('text-link');
}