<div class="blog-post-summary-container">
    <div class="blog-post-header">
        <a href="{{ .page.RelPermalink }}">
            <h2>{{ .page.Title }}</h2>
        </a>

        <h3>{{ .page.Params.tagline }}</h3>

        <span class="date">{{ dateFormat "January 1, 2006" .page.Date }} &bull; {{ .page.ReadingTime }} minute read</span>
    </div>

    {{ if .extended }}
        <p class="summary">{{ .page.Summary }}</p>
        <a class="read-more" href="{{ .page.RelPermalink }}">read more...</a>
    {{ end }}
</div>