<header>
  <div class="logo-container">
    <div class="hero-image-container">
      <img src="/images/josh.jpg" />
    </div>
    <span class="logo-text">
      <a href="/">
        <span class="first">josh</span><br />
        <span class="last">evenson</span>
      </a>
    </span>
    <div class="menu-button">
      <div class="menu-icon" onclick="toggle(this)">
        <div></div>
      </div>
    </div>
  </div>
  <nav>
  {{ range .Site.Menus.main }}
      <a href="{{ .URL }}">{{ lower .Title }}</a>
  {{ end }}
  </nav>
</header>