<header>
    <div class="container">
        <nav>
            <a href="/" class="site-title">
                <h1>{{ lower .Site.Title }}</h1>
            </a>
            <ul class="nav-items">
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ lower .Title }}</a></li>
                {{ end }}
            </ul>
        </nav>
        <div class="portrait-container">
            <img class="portrait" src="/images/josh.jpg" />
        </div>
    </div>
</header>