<nav class="main-navigation">
  <ol>
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ lower .Title }}</a></li>
    {{ end }}
    <li><a href="mailto:jevenson@outlook.com">contact &rarr;</a></li>
  </ol>

  <div class="social-icons">
    {{ range.Site.Data.global.socialIcons }}
      <a href="{{ .url }}" target="_blank" rel="noopener" title="Visit Josh's {{ .name }} Profile">
        <span class="a11y-hidden">Visit Josh's {{ .name }} Profile</span>
        <svg><use xlink:href="#{{ .icon }}" /></svg>
      </a>

      {{ $path := print "icons" "/" .icon }}
      {{ partial $path }}
    {{ end}}
  </div>
</nav>