{{ define "main" }}

    {{ $style := resources.Get "/scss/index.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <section class="introduction">
        {{ .Content }}
    </section>

    <ul class="experience">
        <li>
            <img src="/images/bhtplogo_square.svg" alt="Berkshire Hathaway Travel Protection Logo" />
            <h3>
                <span>Employed at</span>
                <a class="bhtp" href="https://www.bhtp.com" rel="noopener" target="_blank">Berkshire Hathaway Travel Protection</a>
            </h3>
        </li>
        <li>
            <img src="/images/cenwidevlogo_square.png" alt="Central Wisconsin Developers Group Logo" />
            <h3>
                <span>Co-organizer of the</span>
                <a class="cenwidev" href="https://www.cenwidev.org" rel="noopener" target="_blank">Central Wisconsin Developers Group</a>
            </h3>
        </li>
        <li>
            <img src="/images/cwitclogo_square.svg" alt="Central Wisconsin IT Conference Logo" />
            <h3>
                <span>Committee Member for the</span>
                <a class="cwitc" href="https://www.cwitc.org" rel="noopener" target="_blank">Central Wisconsin IT Conference</a>
            </h3>
        </li>
    </ul>
{{ end }}
