{{ define "main" }}

    <section class="introduction">
        {{ .Content }}
    </section>

    <ul class="images">
        <li class="bhtp">
            <img src="/images/bhtplogo_square.png" />
            <h3 class="bhtp active">
                Employed at <br/>
                <a class="name" href="https://www.bhtp.com" target="_blank">Berkshire Hathaway Travel Protection</a>
            </h3>
        </li>
        <li class="cenwidev">
            <img src="/images/cenwidevlogo_square.png" />
            <h3 class="cenwidev">
                Co-organizer of the <br/>
                <a class="name" href="https://www.cenwidev.org" target="_blank">Central Wisconsin Developers Group</a>
            </h3>
        </li>
        <li class="cwitc">
            <img src="/images/cwitclogo_square.svg" />
            <h3 class="cwitc">
                Committee Member for the <br/>
                <a class="name" href="https://www.cwitc.org" target="_blank">Central Wisconsin IT Conference</a>
            </h3>
        </li>
    </ul>

        <!-- {{ range .Pages }}
            {{ if eq .Type "blog" }}
                {{ partial "blog-post-summary" (dict "page" . ) }}
            {{ end }}
        {{ end }} -->

    <script>
        // var images = document.querySelectorAll('.images img');
        // var texts = document.querySelectorAll('.images h3');

        // var currentIndex = 0;

        // setInterval(() => {
        //     images[currentIndex].classList.toggle('active');
        //     texts[currentIndex].classList.toggle('active');

        //     currentIndex = ++currentIndex;
        //     if (currentIndex >= images.length) {
        //         currentIndex = 0;
        //     }

        //     images[currentIndex].classList.toggle('active');
        //     texts[currentIndex].classList.toggle('active');
        // }, 3000);
    </script>
{{ end }}
